@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");


  /* font-family: "Girassol", serif; */


/* font-family: "Montserrat", sans-serif; */
/* font-family: "Roboto", sans-serif; */

/* -------------------------------------------------------------------------- */
/* .MainDiv {
  height: 95vh;
  margin: 1.5rem;
  background-color: white;
  border-radius: 10px;
  opacity: 0.8;
  box-shadow: 10px 10px 50px black;
  height: 100%;
  min-height: 100vh;
} */
/* -------------------------------------------------------------------------- */
